doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width' name='viewport')
  // [if !mso] <!
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  // <![endif]
  title
  // [if !mso] <!
  // <![endif]
  style(type='text/css').
    body {
    margin: 0;
    padding: 0;
    }
    table,
    td,
    tr {
    vertical-align: top;
    border-collapse: collapse;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important;
    }
  style#media-query(type='text/css').
    @media (max-width: 660px) {
    .block-grid,
    .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .block-grid {
    width: 100% !important;
    }
    .col {
    width: 100% !important;
    }
    .col>div {
    margin: 0 auto;
    }
    img.fullwidth,
    img.fullwidthOnMobile {
    max-width: 100% !important;
    }
    .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important;
    }
    .no-stack.two-up .col {
    width: 50% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num8 {
    width: 66% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num3 {
    width: 25% !important;
    }
    .no-stack .col.num6 {
    width: 50% !important;
    }
    .no-stack .col.num9 {
    width: 75% !important;
    }
    .video-block {
    max-width: none !important;
    }
    .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide {
    display: block !important;
    max-height: none !important;
    }
    }
//if IE
  .ie-browser
table.nl-container(bgcolor='#f1f4f8' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f1f4f8; width: 100%;' valign='top' width='100%')
  tbody
    tr(style='vertical-align: top;' valign='top')
      td(style='word-break: break-word; vertical-align: top;' valign='top')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0')
            tr
              td(align='center' style='background-color:#f1f4f8')
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:640px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='640' style='background-color:transparent;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .mobile_hide
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 30px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                              table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:640px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='640' style='background-color:#ffffff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 1px solid #F3F2F3; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:1px solid #F3F2F3; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 15px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 20px; padding-left: 20px; padding-top: 30px; padding-bottom: 20px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:30px;padding-right:20px;padding-bottom:20px;padding-left:20px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;')
                          strong
                            span(style='font-size: 30px; color: #003188;') Profesjonalne Wsparcie
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;')
                          strong
                            span(style='font-size: 30px; color: #003188;') dla Twojego Biznesu sp. z o.o.
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; font-size: 16px; mso-line-height-alt: 19px; margin: 0;')
                          span(style='font-size: 16px;')
                            strong
                              span(style='color: #003188;') NIP: 774-325-10-22, E-mail: kontakt@wsparciedlabiznesu.eu
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; font-size: 16px; mso-line-height-alt: 19px; margin: 0;')
                          span(style='font-size: 16px;')
                            strong
                              span(style='color: #003188;') Telefon: 790-462-526 Dariusz Owsik
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='font-size: 16px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 19px; margin: 0;')
                          span(style='font-size: 16px; color: #3366ff;')
                            span(style='color: #003188;')
                              | PROFESJONANLNE WSPARCIE Przedsi&eogon;biorc&oacute;w w negocjacjach warunk&oacute;w finansowania w instytucjach finansowych, bankach, firmach leasingowych.
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 15px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 18px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:640px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='640' style='background-color:#ffffff;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 50px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:50px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='font-size: 16px; line-height: 1.2; word-break: break-word; text-align: right; mso-line-height-alt: 19px; margin: 0;')
                          span(style='font-size: 16px; color: #6d89bc;') #{date_format} r.
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 40px; padding-left: 40px; padding-top: 5px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:5px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                      div(style='line-height: 1.5; font-size: 12px; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 18px;')
                        p(style='line-height: 1.5; word-break: break-word; font-family: inherit; mso-line-height-alt: NaNpx; margin: 0;')
                          span(style='color: #6d89bc;')
                            span(style='font-size: 16px;') Szanowni Pa&nacute;stwo,
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 40px; padding-left: 40px; padding-top: 15px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:15px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                      div(style='line-height: 1.5; font-size: 12px; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 18px;')
                        p(style='line-height: 1.5; word-break: break-word; font-family: inherit; mso-line-height-alt: NaNpx; margin: 0;')
                          span(style='color: #6d89bc;')
                            span(style='font-size: 16px;')
                              | Dzi&eogon;kujemy za zaufanie jakim Pa&nacute;stwo nas obdarzyli&sacute;cie, poprzez zgod&eogon; na przedstawienie oferty i serdecznie zapraszamy do skorzystania z naszych us&lstrok;ug.
                          span(style='color: #6d89bc;')
                        p(style='line-height: 1.5; word-break: break-word; font-family: inherit; mso-line-height-alt: NaNpx; margin: 0;')
                          span(style='color: #6d89bc;')
                            span(style='font-size: 16px;')
                              | Pa&nacute;stwa firma w ramach wsp&oacute;&lstrok;pracy, otrzymuje pe&lstrok;ne wsparcie w procesie negocjacji warunk&oacute;w, pocz&aogon;wszy od chwili, z&lstrok;o&zdot;enia zapytania ofertowego, poprzez proces przygotowania oferty/umowy, a&zdot; do sp&lstrok;aty ostatniej raty.
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 45px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    if data.offer_type == 'leasing'
                      div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                        div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Dotyczy:
                              |  #{data.client.fullname}, 
                              strong NIP:
                              |  #{data.client.nip}
                          p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Najkorzystniejsz&aogon; ofert&eogon; przedstawi&lstrok;:
                              |  #{data.company.fullname}
                              br
                              strong Nazwa przedmiotu finansowania:
                              |  #{data.name}
                              br
                              each val, index in data.variants
                                - var index_val = parseInt(index)+1;
                                strong Wysoko&sacute;&cacute; raty: 
                                | #{val.leasing_install} z&lstrok;
                                br
                                strong Okres finansowania:
                                |  #{val.okres} miesięcy
                                p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                                  span(style='font-size: 16px;')
                                    strong Wk&lstrok;ad w&lstrok;asny:
                                    |  #{val.wklad} z&lstrok;
                                p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                                  span(style='font-size: 16px;')
                                    strong Wykup:
                                    |  #{val.wykup}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Warto&sacute;&cacute; przedmiotu netto:
                              |  #{data.netto} z&lstrok;
                          if data.acoc_rata != null
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;')
                              span(style='color: #3366ff;')
                                strong
                                  span(style='font-size: 18px;') Warunki dodatkowe - ubezpieczenie AC/OC
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Rata ubezpieczenia:
                                |  #{data.acoc_rata} z&lstrok;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Nazwa firmy przedstawiaj&aogon;cej:
                                |  #{data.acoc_company}
                          if data.gap_rata != null
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;')
                              span(style='color: #3366ff;')
                                strong
                                  span(style='font-size: 18px;') Warunki dodatkowe - ubezpieczenie GAP
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Rata ubezpieczenia:
                                |  #{data.gap_rata} z&lstrok;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Okres ubezpieczenia:
                                |  #{data.gap_okres}
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Nazwa firmy przedstawiaj&aogon;cej:
                                |  #{data.gap_company}
                          if data.attentions != null
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;')
                              span(style='color: #3366ff;')
                                strong
                                  span(style='font-size: 18px;') Inne warunki
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Uwagi:
                                |  #{data.attentions}
                          p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                    if data.offer_type == 'rent'
                      - var raty = data.rata.split(';');
                      - var rata1 = raty[0], rata2 = raty[1];
                      - if(data.service == 1) var s_service = 'Tak';
                      - else var s_service = 'Nie';
                      - if(data.tire == 1) var s_tire = 'Tak';
                      - else var s_tire = 'Nie';
                      - if(data.insurance == 1) var s_insurance = 'Tak';
                      - else var s_insurance = 'Nie';
                      - if(data.gap == 1) var s_gap = 'Tak';
                      - else var s_gap = 'Nie';
                      div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                        div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Dotyczy:
                              |  #{data.client.fullname}, 
                              strong NIP:
                              |  #{data.client.nip}
                          p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Najkorzystniejsz&aogon; ofert&eogon; przedstawi&lstrok;:
                              |  #{data.company.fullname}
                              br
                              strong Nazwa przedmiotu finansowania:
                              |  #{data.marka_model}
                              br
                              strong Wysoko&sacute;&cacute; raty: 
                              | #{rata1} - #{rata2} zł
                              br
                              strong Okres finansowania:
                              |  #{data.okres}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Wk&lstrok;ad w&lstrok;asny:
                              |  #{data.wplata} z&lstrok;
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Warto&sacute;&cacute; rezydualna/wykup:
                              |  #{data.wykup}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Warto&sacute;&cacute; przedmiotu netto:
                              |  #{data.netto} z&lstrok;
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Limit kilometr&oacute;w:
                              |  #{data.limit}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Numer rejestracyjny:
                              |  #{data.reg_number}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Serwis:
                              |  #{s_service}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Opony:
                              |  #{s_tire}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Ubezpieczenie:
                              |  #{s_insurance}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Ubezpieczenie GAP:
                              |  #{s_gap}
                          if data.acoc_rata != null
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;')
                              span(style='color: #3366ff;')
                                strong
                                  span(style='font-size: 18px;') Warunki dodatkowe - ubezpieczenie AC/OC
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Rata ubezpieczenia:
                                |  #{data.acoc_rata} z&lstrok;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Nazwa firmy przedstawiaj&aogon;cej:
                                |  #{data.acoc_company}
                          if data.attentions != null
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;')
                              span(style='color: #3366ff;')
                                strong
                                  span(style='font-size: 18px;') Inne warunki
                            p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                              span(style='font-size: 16px;')
                                strong Uwagi:
                                |  #{data.attentions}
                          p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                    if data.offer_type == 'insurance'
                      div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                        div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Dotyczy:
                              |  #{data.client.fullname}, 
                              strong NIP:
                              |  #{data.client.nip}
                          p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Najkorzystniejsz&aogon; ofert&eogon; przedstawi&lstrok;:
                              |  #{data.company.fullname}
                              br
                              strong Marka i model pojazdu:
                              |  #{data.marka_model}
                              br
                              strong Typ nadwozia pojazdu: 
                              |  #{data.typ}
                              br
                              strong Rok produkcji: 
                              |  #{data.rok_produkcji}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Przebieg pojazdu:
                              |  #{data.przebieg}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Pojemno&sacute;&cacute; silnika (w cm&sup3;):
                              |  #{data.pojemnosc}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Moc silnika (w km):
                              |  #{data.moc}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Numer VIN:
                              |  #{data.vin_number}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Numer rejestracyjny:
                              |  #{data.reg_number}
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Warto&sacute;&cacute; pojazdu netto:
                              | &nbsp;#{data.netto} z&lstrok;
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 19px; margin: 0;')
                            span(style='font-size: 16px;')
                              strong Koszt ubezpieczenia:
                              | &nbsp;#{data.insurance_cost} z&lstrok;
                          p(style='font-size: 14px; line-height: 1.2; word-break: break-word; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 17px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; font-family: inherit; mso-line-height-alt: 17px; margin: 0;')
                          strong
                            span(style='font-size: 16px; color: #6d89bc;') W przypadku jakichkolwiek pyta&nacute; zapraszamy do kontaktu.
                          br
                          span(style='font-size: 16px; color: #6d89bc;') Ofert&eogon; przygotowa&lstrok;: Dariusz Owsik
                          br
                          span(style='font-size: 16px; color: #6d89bc;') Telefon: 790-46-25-26, E-mail: kontakt@wsparciedlabiznesu.eu
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 30px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; font-size: 10px; mso-line-height-alt: 12px; margin: 0;')
                          span(style='font-size: 10px;')
                            | Niniejszy materia&lstrok; nie stanowi oferty w rozumieniu art. 66 K.C. i ma charakter wy&lstrok;&aogon;cznie informacyjny. Ostateczne warunki umowy zale&zdot;&aogon; od oceny zdolno&sacute;ci kredytowej leasingobiorcy/klienta oraz finansowanego przedmiotu i zostan&aogon; uregulowane w umowie leasingu/najmu/ubezpieczenia.
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; font-size: 10px; mso-line-height-alt: 12px; margin: 0;')
                          span(style='font-size: 10px;') Oferta wa&zdot;na jest przez okres 30 dni od daty jej przekazania.
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 15px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:640px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='640' style='background-color:#ffffff;width:640px; border-top: 1px solid #E5EAF3; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:1px solid #E5EAF3; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 30px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='line-height: 1.2; word-break: break-word; text-align: left; font-size: 10px; mso-line-height-alt: 12px; margin: 0;')
                          span(style='font-size: 10px;')
                            | Informacja o administratorze danych osobowych: Administratorem Pani/Pana/Firmy danych osobowych jest Profesjonalne Wsparcie dla Twojego Biznesu sp zoo (dalej: FIRMA), kt&oacute;ry przetwarza je:
                          span(style='font-size: 10px;')
                            | W celu przygotowania oferty i wsparcia w procesie decyzji banku/instytucji finansowej/przygotowania oferty ubezpieczenia OC/AC/GAP oraz obs&lstrok;ugi posprzeda&zdot;owej.
                          span(style='font-size: 10px;')
                            | Zgoda jest wyra&zdot;ana na podstawie elektronicznego zapytania przes&lstrok;anego na podany adres email iw zapytania z&lstrok;o&zdot;onym na stronie https://wsparciedlabiznesu.eu/zapytania/ nie wymaga potwierdzenia papierowego.
                          span(style='font-size: 10px;')
                            | a) zgoda na podstawie art. 6 ust.1 lit. a,b,c,d,f Rozporz&aogon;dzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r., (wraz z p&oacute;&zacute;niejszymi zmianami) zwana dalej: RODO,
                          span(style='font-size: 10px;')
                            | Podanie danych osobowych jest dobrowolne, jednak - w zakresie niezb&eogon;dnym do zawarcia i wykonania umowy o finansowanie oraz do dokonania oceny ryzyka kt&oacute;re warunkuje jej zawarcie.
                          span(style='font-size: 10px;') Firma przetwarza nast&eogon;puj&aogon;ce kategorie Pani/Pana/Firmy danych osobowych:
                        p(style='line-height: 1.2; word-break: break-word; text-align: left; font-size: 10px; mso-line-height-alt: 12px; margin: 0;')
                          span(style='font-size: 10px;')
                            | - dane identyfikuj&aogon;ce to&zdot;samo&sacute;&cacute;, dane teleadresowe i inne niezb&eogon;dne w procesie przygotowania i przedstawienia oferty oraz procesu obs&lstrok;ugowego. Zapytania zawieraj&aogon;ce dane klienta s&aogon; kierowane do podmiot&oacute;w wsp&oacute;&lstrok;pracuj&aogon;cych w procesie zawierania i
                          span(style='font-size: 10px;')
                            | wykonywania um&oacute;w o finansowanie mog&aogon; by&cacute; udost&eogon;pniane dla pracownik&oacute;w i wsp&oacute;&lstrok;pracownik&oacute;w oraz dostawc&oacute;w IT.
                          span(style='font-size: 10px;')
                            | Przys&lstrok;uguje Pani/Panu prawo dost&eogon;pu do swoich danych osobowych, prawo &zdot;&aogon;dania ich sprostowania, usuni&eogon;cia, ograniczenia przetwarzania, ich przeniesienia, wniesienia sprzeciwu wobec ich przetwarzania, wniesienia skargi do organu nadzorczego, wycofania udzielonej zgody na ich przetwarzanie, kt&oacute;re pozostanie bez wp&lstrok;ywu na dotychczasowe przetwarzanie na zasadach wynikaj&aogon;cych z RODO.
                        p(style='line-height: 1.2; word-break: break-word; text-align: left; font-size: 10px; mso-line-height-alt: 12px; margin: 0;')
                          span(style='font-size: 10px;') Dane kontaktowe Inspektora Ochrony Danych Osobowych:&nbsp;
                          span(style='font-size: 10px;') adres e-mail: dariusz.owsik@wsparciedlabizesu.eu
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 35px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;') Ta wiadomo&sacute;&cacute; zosta&lstrok;a wygenerowana automatycznie, prosimy na ni&aogon; nie odpowiada&cacute;.
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;')
                          strong Profesjonalne Wsparcie dla Twojego Biznesu sp. z o.o.
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;') z siedzib&aogon; w P&lstrok;ocku, NIP 774-325-10-22, REGON 384843442&nbsp;
                        p(style='text-align: center; line-height: 1.2; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;')
                          | Wszelkie prawa zastrze&zdot;one. Zaprojektowano przez&nbsp;
                          span(style='color: #3366ff;')
                            strong wsparciedlabiznesu.eu
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 40px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 640px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:640px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='640' style='background-color:transparent;width:640px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 640px; display: table-cell; vertical-align: top; width: 640px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .mobile_hide
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 30px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px;' valign='top')
                              table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid #BBBBBB; width: 100%;' valign='top' width='100%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if (IE)
